# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.hypercasual-template.iml
# Datasource local storage ignored files
/../../../../../../:\upr\hypercasual-template\.idea\.idea.hypercasual-template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
